<launch>
  <arg name="camera_name" />
  <arg name="timeshift_cam_imu"   default="0" />
  <arg name="motion_correction"   default="1" />
  <arg name="frame_size"   default="15000" />

  <node name="ze_vio_ceres" pkg="ze_vio_ceres" type="ze_vio_ceres_node"
    output="screen" required="true"
    args="

    --data_source=2  # rostopic
    --vio_use_events=0
    --vio_use_events_and_images=1
    --vio_rescale_intrinsics_for_distortion=true

    --timeshift_cam_imu=$(arg timeshift_cam_imu)
    --calib_filename=$(find ze_vio_ceres)/../../calibration/$(arg camera_name).yaml

    --flagfile=$(find ze_vio_ceres)/cfg/vio_base.conf
    --flagfile=$(find ze_vio_ceres)/cfg/vio_davis.conf

    --data_size_augmented_event_packet=40000 # max number of events per event frame (should be >= vio_frame_size)
    --vio_frame_size=$(arg frame_size)  # each event frame will be drawn with that number of events.
    --vio_do_motion_correction=$(arg motion_correction)
    --noise_event_rate=20000
    --vio_frame_norm_factor=4.0

    --vio_trace_pose=1
    --log_dir=/tmp
    --vmodule=feature_tracker=0
    --colorlogtostderr=1
    --logtostderr=1
    --alsologtostderr=1
    --vio_viz_feature_tracks=true
    --vio_viz_feature_tracks_length=0
    ">
  </node>

  <node name="visualisation" pkg="rviz" type="rviz" output="screen" args="-d $(find ze_visualization)/rviz/ze.rviz" />

</launch>
